body {
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    background-color: rgb(53, 54, 54);
    color: rgb(204, 198, 204);
    text-align: center;
  }

h1, h2, p{
  font-family: fantasy;
  color: rgb(204, 198, 204);
}

ul {
  list-style: none;
}

ul li::before {
  content: "📌";
  display: inline-block;
  margin-right: 0.2rem;
}

ul li ul::before {
    content: "🖋";
    display: inline-block;
}

a:link, a:visited {
  background-color: rgb(57, 159, 255);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}

a:hover, a:active {
  background-color: rgb(190, 124, 221);
}