body {
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(53, 54, 54);
    color: rgb(204, 198, 204);
  }

h1, h2{
  font-family: fantasy;
}

h3{
  color:rgb(255, 152, 255);
}

ul {
  list-style: none;
}

ul li::before {
  content: "📌";
  display: inline-block;
  margin-right: 0.2rem;
}

ul li ul::before {
    content: "🖋";
    display: inline-block;
}


ul li ul ul::before {
  content: " - ";
  display: inline-block;
}

ul li ul ul ul::before {
  content: " -- ";
  display: inline-block;
}

ul li ol li::before {
  content: " ";
  display: inline-block;
}

a:link, a:visited {
    background-color: rgb(57, 159, 255);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
  }
  
  a:hover, a:active {
    background-color: rgb(190, 124, 221);
  }

  .code{
    font-family:'Courier New', Courier, monospace;
    color:rgb(142, 253, 51);
  }


  /* Canvas CSS Settings */
  .myCanvas {
    border: dotted 2px black;
    margin: 0 20px;
}

/* Table Styling */
table, th, tr {
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border: 2px solid white;
  border-collapse: collapse;
}