body {
    font-size: 15px;
    font-family: Tahoma, sans-serif;
  }

h1, h2{
  font-family: fantasy;
}

ul {
  list-style: none;
}

ul li::before {
  content: "📌";
  display: inline-block;
  margin-right: 0.2rem;
}

ul li ul::before {
    content: "🖋";
    display: inline-block;
  }